@model Arkitektum.Orden.Models.ViewModels.ApplicationDetailsViewModel
<div id="app-root">
    <application application-id="@Model.ApplicationId" organization-id="@Model.OrganizationId" write-access="@Model.HasWriteAccess"></application>
</div>