@model Arkitektum.Orden.Models.ViewModels.ApplicationViewModel


@{
    ViewData["Title"] = "Edit";
}

<h2>Rediger applikasjon</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="OrganizationId" />
            <div class="form-group required">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group required">
                <label asp-for="Version" class="control-label"></label>
                <input asp-for="Version" class="form-control" />
                <span asp-validation-for="Version" class="text-danger"></span>
            </div>
            <div class="form-group required">
                <label asp-for="VendorId" class="control-label">@ModelsResource.Vendor</label>
                <select asp-for="VendorId" asp-items="Model.AvailableVendors" class="form-control"></select>
                <span asp-validation-for="VendorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnnualFee" class="control-label"></label>
                <input asp-for="AnnualFee" class="form-control" />
                <span asp-validation-for="AnnualFee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InitialCost" class="control-label"></label>
                <input asp-for="InitialCost" class="form-control" />
                <span asp-validation-for="InitialCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HostingVendor" class="control-label"></label>
                <input asp-for="HostingVendor" class="form-control" />
                <small class="form-text text-muted">@UIResource.HostingVendorHelp</small>
                <span asp-validation-for="HostingVendor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HostingLocation" class="control-label"></label>
                <select asp-for="HostingLocation" asp-items="Html.GetEnumSelectList<HostingLocation>()" class="form-control">
                    <option value=""></option>
                </select>
                <span asp-validation-for="HostingLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfUsers" class="control-label"></label>
                <input asp-for="NumberOfUsers" class="form-control" />
                <span asp-validation-for="NumberOfUsers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SystemOwnerId" class="control-label">@ModelsResource.SystemOwner</label>
                <select asp-for="SystemOwnerId" class="form-control" asp-items="Model.AvailableSystemOwners"></select>
                <span asp-validation-for="SystemOwnerId" class="text-danger"></span>
            </div>
            
            <h2>Avtale</h2>
            <div class="form-group">
                <label asp-for="AgreementDateStart" class="control-label"></label>
                <input type="date" asp-for="AgreementDateStart" class="form-control" />
                <span asp-validation-for="AgreementDateStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AgreementDescription" class="control-label"></label>
                <textarea asp-for="AgreementDescription" class="form-control" rows="5"></textarea>
                <span asp-validation-for="AgreementDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AgreementTerminationClauses" class="control-label"></label>
                <textarea asp-for="AgreementTerminationClauses" class="form-control" rows="3"></textarea>
                <span asp-validation-for="AgreementTerminationClauses" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AgreementResponsibleRole" class="control-label"></label>
                <input asp-for="AgreementResponsibleRole" class="form-control" />
                <span asp-validation-for="AgreementResponsibleRole" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AgreementDocumentUrl" class="control-label"></label>
                <input asp-for="AgreementDocumentUrl" class="form-control" />
                <span asp-validation-for="AgreementDocumentUrl" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Lagre" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>