@model Arkitektum.Orden.Models.ViewModels.OrganizationViewModel

@{
    ViewData["Title"] = Model.Name;
}
<h2>@Html.DisplayFor(model => model.Name)</h2>

<hr />
<p class="float-right"><a asp-action="Edit" asp-route-id="@Model.Id"><span class="fas fa-edit"></span> Rediger</a></p>



<h5>@Html.DisplayNameFor(model => model.OrganizationNumber)</h5>
<p>@Html.DisplayFor(model => model.OrganizationNumber)</p>

<h5>Superbrukere</h5>
<div id="app-root">
    <organization api-url="/SuperUsers/organization/@Model.Id"></organization>
</div>

