.dropdown-box-toggle {
    cursor: pointer;

    .dropdown-box-container {
        display: none;
        position: relative;
        text-align: left;
        top: 5px;

        .dropdown-box-content {
            position: absolute;
            width: 200px;
            right: 0px;
            background-color: #fff;
            border-radius: 3px;
            padding: 4px 8px;
            z-index: 2;
            @include box-shadow(0 2px 5px rgba(0,0,0,.26));

            a {
                color: $primary-color;
            }

            form {
                display: block;
            }

            .navbar-dropdown-list {
                list-style: none;
                padding: 0;
                margin: -4px -8px;
                display: block;
                color: $default-text-color;

                li {
                    &:hover {
                        background-color: rgba(0,0,0,.05);
                    }
                }
            }
        }
    }

    &.active {
        .dropdown-box-container {
            display: block;

            &:before {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                border-color: transparent;
                border-style: solid;
                top: -5px;
                left: 50%;
                margin-left: -5px;
                border-width: 0 5px 5px;
                border-bottom-color: #fbfcfd;
            }
        }
    }
}
