.main-navigation {
    background-color: $primary-color;
    color: #FFF;

    ul {
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
        border-top: 1px solid rgba(0,0,0,.05);

        &:first-child {
            border-top: none;
        }

        &:last-child {
            border-bottom: none;
        }

        li {
            padding: 0.25rem 1rem;

            &:hover {
                background-color: rgba(255,255,255,.05);
            }

            a {
                color: #FFF;
            }
        }
    }
}

@media (min-width: $screen-sm) {
    .main-navigation {
        background-color: #fbfcfd;
        padding: 0;
        position: fixed;
        height: 100% !important;
        width: 245px;
        left: -245px;
        @include box-shadow(2px 3px 5px 0 rgba(0, 0, 0, .26));
        @include transition(left .2s ease-in-out);

        &.show {
            left: 0;
        }

        ul {


            li {
                &:hover {
                    background-color: rgba(0,0,0,.05);
                }

                a {
                    color: #333;
                }
            }
        }
    }
}
