.main-navigation {
    background-color: $navbar-color;
    color: #fff;
    position: fixed;
    width: 100%;
    z-index: 2;
    @include raised(2);
    .main-navigation-content {
        padding: 0;
        .navbar {
            display: block;
            width: 100%;
        }
        ul {
            border-bottom: 1px solid $hover-light-background-color;
            border-top: 1px solid rgba(0, 0, 0, 0.05);
            &:first-child {
                border-top: none;
            }
            &:last-child {
                border-bottom: none;
            }
            li {
                padding: 0.25rem 1rem;
                color: #000;
                &:hover {
                    background-color: $hover-light-background-color;
                }
                a {
                    display: block;
                    padding: 8px 0;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.navbar-left {
    width: 250px;
    float: left;
    padding: 6px 0;
}

.navbar-center {
    width: calc(100% - 350px);
    display: inline-block;
    text-align: center;
    padding: 6px 0;
}

.navbar-right {
    width: 100px;
    float: right;
    text-align: right;
    padding: 4px 0;
}

@media (min-width: $screen-sm) {
    .navbar-left {
        width: 275px;
    }
    .navbar-center {
        width: calc(100% - 550px);
    }
    .navbar-right {
        width: 275px;
    }
}

.navbar-search-container {
    width: 100%;
    max-width: 400px;
    display: inline-block;
    input {
        width: 100%;
        height: 39px;
        border-radius: 4px;
        border: 1px solid rgba(0, 0, 0, 0.2);
    }
}

.navbar-account {
    padding: 0.25rem 0.75rem;
    .navbar-account-menu-item {
        display: inline-block;
        vertical-align: bottom;
        .navbar-icon,
        .navbar-text-toggle {
            height: 35px;
            @include transition(all 0.2s);
            color: #fff;
        }
        .navbar-icon {
            width: 35px;
            border-radius: 50%;
            overflow: hidden;
            svg.svg-inline--fa {
                width: 34px;
                height: 34px;
            }
        }
        .navbar-text-toggle {
            display: none;
            font-size: 18px;
            line-height: 31px;
            padding: 0 6px;
            border-radius: 3px;
            &:after {
                content: "\25BC";
                display: inline-block;
                color: #fff;
                font-size: 14px;
                margin-left: 6px;
            }
        }
        @media (min-width: $screen-sm) {
            .navbar-text-toggle {
                display: inline-block;
            }
            &.navbar-organization .navbar-icon {
                display: none;
            }
        }
        &:hover {
            .navbar-icon,
            .navbar-text-toggle {
                background-color: rgba(255, 255, 255, 0.2);
            }
        }
        &.active {
            .navbar-icon,
            .navbar-text-toggle {
                background-color: rgba(255, 255, 255, 0.2);
            }
        }
    }
    a {
        color: #fff;
    }
    form {
        display: inline-block;
        color: #fff;
    }
}

@media (min-width: $screen-sm) {
    .navbar {
        @include raised(0);
    }
    .main-navigation {
        padding: 0;
        width: 100%;
        left: 0;
        display: block;
        background-color: #fbfcfd;
        .main-navigation-content {
            width: 100%;
            margin: auto;
            @include raised(2);
            &.show {
                left: 0;
            }
            .main-navigation-item {
                width: 25%;
                float: left;
                >a,
                >.dropdown-box-toggle>span {
                    display: block;
                    padding: 0.5rem 1rem;
                    color: $default-text-color;
                    text-decoration: none;
                    text-align: center;
                    &:hover{
                        background-color: $hover-dark-background-color;
                    }
                }
                >.dropdown-box-toggle>span {
                    &:after {
                        content: "\25BC";
                        display: inline-block;
                        font-size: 14px;
                        margin-left: 6px;
                    }
                }
                .dropdown-box-toggle {
                    &.active>span {
                        background-color: $primary-color;
                        color: #fff;
                    }
                    .dropdown-box-container {
                        top: 0;
                        .dropdown-box-content {
                            right: initial;
                            width: 100%;
                            border-radius: 0 0 3px 3px;
                        }
                    }
                }
            }
            ul {
                list-style: none;
                li {
                    &:hover {
                        background-color: $hover-dark-background-color;
                    }
                    a {
                        color: #333;
                    }
                }
            }
        }
    }
}