.main-navigation {
    background-color: $primary-color;
    color: #FFF;
    position: fixed;
    width: 100%;
    z-index: 1020;
    @include box-shadow(0 4px 5px -2px rgba(0,0,0,.26));

    .main-navigation-content {
        .navbar {
            display: block;
            width: 100%;
        }

        ul {
            border-bottom: 1px solid rgba(255, 255, 255, 0.05);
            border-top: 1px solid rgba(0,0,0,.05);

            &:first-child {
                border-top: none;
            }

            &:last-child {
                border-bottom: none;
            }

            li {
                padding: 0.25rem 1rem;
                color: #000;

                &:hover {
                    background-color: rgba(255,255,255,.05);
                }

                a {
                    display: block;
                    padding: 8px 0;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.navbar-left {
    width: 250px;
    float: left;
    padding: 6px 0;
}

.navbar-center {
    width: calc(100% - 350px);
    display: inline-block;
    text-align: center;
    padding: 6px 0;
}

.navbar-right {
    width: 100px;
    float: right;
    text-align: right;
    padding: 4px 0;
}

@media (min-width: $screen-sm) {
    .navbar-left {
        width: 275px;
    }

    .navbar-center {
        width: calc(100% - 550px);
    }

    .navbar-right {
        width: 275px;
    }
}

.navbar-search-container {
    width: 100%;
    max-width: 400px;
    display: inline-block;

    input {
        width: 100%;
        height: 39px;
        border-radius: 4px;
        border: 1px solid rgba(0,0,0,0.2);
    }
}

.navbar-account {
    padding: .25rem .75rem;

    .navbar-account-menu-item {
        display: inline-block;
        vertical-align: bottom;

        .navbar-icon,
        .navbar-text-toggle {
            height: 35px;
            @include transition(all .2s);
            color: #fff;
        }

        .navbar-icon {
            width: 35px;
            border-radius: 50%;
            overflow: hidden;

            svg.svg-inline--fa {
                width: 34px;
                height: 34px;
            }
        }

        .navbar-text-toggle {
            display: none;
            font-size: 18px;
            line-height: 31px;
            padding: 0 6px;
            border-radius: 3px;

            &:after {
                content: "\25BC";
                display: inline-block;
                color: #fff;
                font-size: 14px;
                margin-left: 6px;
            }
        }

        @media (min-width: $screen-sm) {
            .navbar-text-toggle {
                display: inline-block;
            }

            &.navbar-organization .navbar-icon {
                display: none;
            }
        }


        &:hover {
            .navbar-icon,
            .navbar-text-toggle {
                background-color: rgba(255,255,255,.2);
            }
        }

        &.active {
            .navbar-icon,
            .navbar-text-toggle {
                background-color: rgba(255,255,255,.2);
            }
        }
    }

    a {
        color: #fff;
    }

    form {
        display: inline-block;
        color: #fff;
    }
}

@media (min-width: $screen-sm) {
    .main-navigation {
        padding: 0;
        width: 245px;
        height: 1px;
        left: 0;
        display: block;
        float: left;

        .main-navigation-content {
            height: 100% !important;
            width: 245px;
            position: fixed;
            background-color: #fbfcfd;
            @include box-shadow(2px 3px 5px 0 rgba(0, 0, 0, .26));

            &.show {
                left: 0;
            }

            ul {


                li {
                    &:hover {
                        background-color: rgba(0,0,0,.05);
                    }

                    a {
                        color: #333;
                    }
                }
            }
        }
    }
}
