body {
    background: #f2f2f2;
    position: relative;
}

.app-content {
    position: fixed;
    width: 100%;
    overflow-y: scroll;
    height: calc(100% - 49px);
    @media (min-width: $screen-sm) {
        height: calc(100% - 91px);
        margin-top: 42px;
    }
}

.body-content {
    background: white;
    padding-top: 24px;
    padding-bottom: 24px;
    @include raised(1);
}

@media (min-width: $screen-sm) {
    .body-content {
        max-width: 960px;
    }
    .container {
        max-width: 960px;
    }
}