body {
    background: #f9f9f9;
}
.body-content {
    background: white;
    padding: 24px 32px;
    @include raised(1);
}

@media (min-width: $screen-sm) {
    .body-content {
      margin-top: 42px;
    }
}
