body {
    background: lightgrey;
}
.body-content {
    background: white;
    padding: 24px 32px;
    @include box-shadow(2px 4px 5px 0px rgba(0,0,0,0.5));
}

@media (min-width: $screen-sm) {
    .body-content {
      margin-top: 42px;
    }
}
