@{
    ViewData["Title"] = "Start";
}

<div class="row">
    <div class="col-md-offset-2 col-md-7 container">
        <div class="jumbotron dashboard-box">
            <h1><span class="blue">14</span> Datasett</h1><br/>
            <h1><span class="green">11</span> Applikasjoner</h1>
        </div>
    </div>

</div>


