@{
    ViewData["Title"] = "Start";
}

<div>
    <input type="text" placeholder="Søk etter applikasjon eller datasett" />
</div>

<div class="dashboard-box dashboard-box-green">
    <span>14</span> Datasett
</div>

<div class="dashboard-box dashboard-box-red">
    <span>9</span> Applikasjoner
</div>