@model Arkitektum.Orden.Models.ViewModels.InsightsViewModel

@{
    ViewBag.Title = "";
    Layout = "_Layout";
}

<h2>Innsikt</h2>
<hr />
<div id="app-root"></div>
<div class="col-md-6">
    <ul>
        @foreach (var application in Model.Applications)
        {
            <li>
                <a asp-action="Details" asp-controller="Applications" asp-route-id="@application.Id">@application.Name</a>
            </li>
        }
    </ul>
</div>
