@model Arkitektum.Orden.Models.ViewModels.DatasetViewModel

@{
    ViewData["Title"] = "Registrer nytt datasett";
}

<h2>@ViewData["Title"]</h2>

<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Purpose" class="control-label"></label>
                <textarea asp-for="Purpose" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Purpose" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="HasPersonalData" /> @Html.DisplayNameFor(model => model.HasPersonalData)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="HasSensitivePersonalData" /> @Html.DisplayNameFor(model => model.HasSensitivePersonalData)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="HasMasterData" /> @Html.DisplayNameFor(model => model.HasMasterData)
                    </label>
                </div>
            </div>
     
           <div class="form-group">
                <input type="submit" value="Lagre" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>